#wf_color_palettes {
    display: flex;
    background-color: #fff;
    color: #111;
}
#wf_color_palettes td {
    padding: 0;

}
.wf_col_pick_block {
    padding: 7px;
    border: 1px solid #788;
    border-radius: 5px;
    background-color: #eff4f4;
}

#palettes_thumbnails {
    display: table;
    flex: 0 0 210px;
    width: 210px;  /* firefox */
}
.palette_thumbnail_container {
    display: inline-block;
    margin: 2px;
    padding: 3px 4px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
}
.selected_palette_thumbnail {
    border: 1px solid #9b9b8d;
    border-radius: 5px;
    background-color: #e3e3d6;
}
.palette_thumbnail_name {
    margin-bottom: 1px;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
}
.palette_thumbnail {
    border-collapse: collapse;
}
.palette_thumbnail td {
    width: 4px;
    height: 5px;
    border: 1px solid #333;
}

#selected_color_n_palette {
    flex: 0 0 166px;
    width: 166px;  /* firefox */
    margin-left: 20px;
    margin-right: 20px;
}
#selected_color_block {
    margin-top: 15px;
    padding: 10px;
}
#selected_color {
    width: 140px;
    height: 40px;
    border: 1px solid #222;
}
#selected_color_value {
    font-family: sans-serif;
    font-weight: bold;
}
#selected_palette {
    padding: 10px;
}
.palette_name {
    font-family: sans-serif;
    font-weight: bold;
}
.palette {
    border-collapse: collapse;
}
.palette td {
    width: 26px;
    height: 28px;
    border: 2px solid #222;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
}

#duplicates {
    display: flex;
}
#dublicates_title {
    margin-right: 3px;
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;
}
#dublicates_container {

}
.dublicates_table {
    border-collapse: collapse;
    display: inline-block;
    margin: 2px;
}
.dublicates_table td {
    width: 10px;
    height: 11px;
    border: 1px solid #222;
    text-align: center;
    vertical-align: middle;
    font-size: 9px;
    line-height: 10px;
    cursor: pointer;
    user-select: none;
}

#color_picker {
    margin: 15px 0px;
    display: table;
}
.color_picker_container {
    display: inline-block;
    vertical-align: top;
}
.color_picker {
    border-collapse: collapse;
    margin: 5px;
}
.color_picker td {
    width: 10px;
    height: 11px;
    border: 1px solid #222;
    text-align: center;
    vertical-align: middle;
    font-size: 9px;
    line-height: 10px;
    cursor: pointer;
    user-select: none;
}
