#wf_colors {
    display: flex;
    background-color: #fff;
    color: #111;
    padding: 5px;
}
#wf_colors table {
    border-collapse: collapse;
}
#wf_colors td {
    padding: 0;
    text-shadow: #998 0 0 5px;
}
.wf_col_pick_block {
    padding: 7px;
    border: 1px solid #788;
    border-radius: 5px;
    background-color: #eff4f4;
}

#palettes_thumbnails {
    display: table;
    flex: 0 0 210px;
    width: 210px;  /* firefox */
}
.palette_thumbnail_container {
    display: inline-block;
    margin: 2px;
    padding: 3px 4px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
}
.selected_palette_thumbnail {
    border: 1px solid #9b9b8d;
    border-radius: 5px;
    background-color: #ebeddc;
}
.palette_thumbnail_name {
    margin-bottom: 1px;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
}
.palette_thumbnail {

}
.palette_thumbnail td {
    width: 4px;
    height: 4px;
    border: 1px solid #333;
}

#selected_color_n_palette {
    flex: 0 0 209px;
    margin-left: 18px;
    margin-right: 18px;
}
#selected_color_block {
    margin-bottom: 15px;
    padding: 10px;
}
#selected_color {
    height: 50px;
    border: 1px solid #222;
}
#selected_color_value {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
#selected_palette {
    padding: 10px;
    margin-bottom: 15px;
}
.palette_name {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 1px;
}
.palette {

}
.palette td {
    width: 35px;
    height: 35px;
    border: 2px solid #222;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
}

#color_picker_n_duplicates {
    /* flex: 0 0 1000px; */
}
#duplicates {
    margin-bottom: 15px;
}
#duplicates_title {
    margin-right: 3px;
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;
}
#duplicates_container {
}
.duplicates_table {
    display: inline-block;
    margin: 2px;
}
.duplicates_table td {
    width: 10px;
    height: 10px;
    border: 1px solid #222;
    text-align: center;
    vertical-align: middle;
    font-size: 9px;
    line-height: 10px;
    cursor: pointer;
    user-select: none;
}

#color_picker_list {
    margin-bottom: 15px;
}
.color_picker_container {
    display: inline-block;
    vertical-align: top;
}
.color_picker {
    margin: 5px;
}
.color_picker td {
    width: 10px;
    height: 10px;
    border: 1px solid #222;
    text-align: center;
    vertical-align: middle;
    font-size: 9px;
    line-height: 10px;
    cursor: pointer;
    user-select: none;
}
